GT_ENVIRONMENT=local
GT_PORT=3000
GT_DATABASEDSN="host=%s user=%s password=%s dbname=%s port=%s sslmode=disable"
GT_DATABASEHOST=localhost
GT_DATABASEPORT=5432
GT_DATABASEUSER=root
GT_DATABASEPASSWORD=example
GT_DATABASENAME=gt
